h1 {
    align: center;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Computer Modern Serif", sans-serif;
}

p {
    margin-top: 0px;
    margin-bottom: 50px;
}

.note {
    font-style: italic;
}
